@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
}

h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2{
    color: #3c805e;
}

h2.basico{
    color: #3c805e;
}

h2.intermediario{
    color: #80803c;
}

h2.avancado{
    color: #803c3c;
}