@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(90deg, yellow, red);*/
    /*background-image: radial-gradient(circle, red, yellow, green);*/
    color: black;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(24, 97, 126);
    font-size: 2em;
}

h2{
    font-family: 'Times New Roman', Times, serif; color: rgb(33, 136, 161);
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

p{
    font-family: 'Courier New', Courier, monospace;
    /*usando o shorthand*/
    font: italic bold 1em arial, Helvetica, sans-serif;
    /*A ordem dos atributos de uma shorthand em CSS é importante. No caso da propriedade font, devemos informar, na ordem:
    • font-style
    • font-variant
    • font-weight
    • font-size/line-height
    • font-family*/
    text-align: justify;
}
