@charset "UTF-8";

/*Gerais*/

@media all {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    } 

    h1 {
        color: #ffffff;
        text-shadow: 2px 2px 0px #14238f;
        text-align: center;
        padding-top: 10px;

    }

            /*Retrato*/

    @media screen and (orientation: portrait) {
        body {
            background-image: url(../imagens/cev-portrait.jpg);
            background-size: cover;
            background-position: center bottom;

        }
    }
}
        /*Paisagem*/

@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-size: cover;
        background-position: center bottom;
    }
}

